<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Главная</title>
    <!-- Bootstrap -->
        <link href=  "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <table class="table">
                    <tr>
                        <td align="left"><h2>Список организаций:</h2></td>
                        <td align="right"><h2>{{q_all|length}}</h2> вопросов всего</td>
                    </tr>
                </table>
            </header>           
                <div class="container">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Дата</strong></td>
                                <td><strong>Заголовок</strong></td>
                                <td><strong>Автор</strong></td>
                                <td><strong>Лайки</strong></td>
                            </tr>
                        </tbody>
                    </table>
               </div>           
        </div>
        <script src="{{ STATIC_URL }}js/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
