<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Список пользователей</title>
    <!-- Bootstrap -->
        <link href=  "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <style>
            body{
                background-image: url(../../../../static/jpeg/url.png);
                font-family: serif;
                font-style: normal;
                font-variant: small-caps;
                font-weight: lighter;
                line-height: 100%;
                word-spacing: normal;
                letter-spacing: normal;
                text-align: left;
                vertical-align: center;
                color: black;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Веб-сайт для организаций</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8000">Главная</a></li>
            {% if user.is_authenticated %}
            <li><a href="">{{ user.username }}</a></li>
            <li><a href="#">{{ userprofile.privilegies }}</a></li>
            <li><a href="#">{{ userprofile.organization_id.name }}</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
            <li><a href="/logout/">Logout</a></li>
            </ul>            
            {% else %}
          </ul>
          <form class="navbar-form navbar-right" role="search" action='/login/' method='post'>{% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign In</button>
                </form>
            {% endif %}
        </div><!-- /.navbar-collapse -->        
      </div><!-- /.container-fluid -->
      </nav>
        <div class="container">
            <header>
                <table class="table">
                    <tr>
                        <td align="left"><h2>Список менеджеров
                        </h2>
                        <br>
                    </td>
                        <td align="right"><h2>{{users|length}}</h2> менеджеров всего</td>
                    </tr>
                </table>
                
            </header>           
                <div class="container">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Имя</strong></td>
                                <td><strong>Фамилия</strong></td>
                                <td><strong>Организация</strong></td>
                                <td><strong>Должность</strong></td>
                                <td></td>
                                <td></td>
                            </tr>
                             {% for qst in users %}
                            <tr>
                                <td>{{qst.user.first_name}}</td>
                                <td>{{qst.user.last_name}}</td>
                                <td>{{qst.organization_id.name}}</td>
                                <td>{{qst.privilegies}}</td>
                                <td>
                                    <a href="http://localhost:8000/edituser/?id={{ qst.id }}"><button type="submit" class="btn btn-default" id="edit" >Изменить</button></a>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default" id="delete">Удалить</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
               </div>           
        </div>
        <script src="{{ STATIC_URL }}js/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="jquery-1.4.2.min.js"></script>

        
    </body>
</html>
